<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="index.css">
    <title>MVC</title>
</head>

<body>
    <div>
        <h1>Danh sách các môn học</h1>
    </div>
    <table>
        <tr>
            <th>STT</th>
            <th>Ten mon hoc</th>
            <th>Loai mon hoc</th>
            <th>Hoc ky</th>
            <th>Khoa</th>
        </tr>
        <tr>
            <td>1</td>
            <td><i>Cong Nghe Moi</i>*</td>
            <td>Chuyen nganh</td>
            <td>HK7</td>
            <td>KTPM</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Kien truc he thong</td>
            <td>Chuyen nganh</td>
            <td>HK7</td>
            <td>KTPM</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Lap trinh WWW - JAVA</td>
            <td>Chuyen nganh</td>
            <td>HK6</td>
            <td>KTPM</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Lap trinh Phan tan - JAVA</td>
            <td>Chuyen nganh</td>
            <td>HK5</td>
            <td>KTPM</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Lap trinh Huong su kien - JAVA</td>
            <td>Chuyen nganh</td>
            <td>HK4</td>
            <td>KTPM</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Co so du lieu </td>
            <td>Co so nganh</td>
            <td>HK3</td>
            <td>KTPM</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Cong nghe Web </td>
            <td>Co so nganh</td>
            <td>HK2</td>
            <td>KTPM</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Lap trinh C </td>
            <td>Co so nganh</td>
            <td>HK1</td>
            <td>KTPM</td>
        </tr>
    </table>

</body>

</html>